# coding: utf-8

"""
    Paragon Insights APIs

    API interface for PI application  # noqa: E501

    OpenAPI spec version: 4.0.0
    Contact: healthbot-feedback@juniper.net
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from jnpr.healthbot.swagger.api_client import ApiClient


class ConfigurationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def check_device_group_unsaved_configuration(self, device_group_name, **kwargs):  # noqa: E501
        """Check if the un-committed configuration of the given device group is correct  # noqa: E501

        Checks if the un-committed configuration of a device-group is correct. The un-committed changes are merged with the committed configuration and the complete configuration required for the supplied device-group is validated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_device_group_unsaved_configuration(device_group_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_group_name: Name of device group (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.check_device_group_unsaved_configuration_with_http_info(device_group_name, **kwargs)  # noqa: E501
        else:
            (data) = self.check_device_group_unsaved_configuration_with_http_info(device_group_name, **kwargs)  # noqa: E501
            return data

    def check_device_group_unsaved_configuration_with_http_info(self, device_group_name, **kwargs):  # noqa: E501
        """Check if the un-committed configuration of the given device group is correct  # noqa: E501

        Checks if the un-committed configuration of a device-group is correct. The un-committed changes are merged with the committed configuration and the complete configuration required for the supplied device-group is validated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_device_group_unsaved_configuration_with_http_info(device_group_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_group_name: Name of device group (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_group_name', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method check_device_group_unsaved_configuration" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_group_name' is set
        if ('device_group_name' not in params or
                params['device_group_name'] is None):
            raise ValueError("Missing the required parameter `device_group_name` when calling `check_device_group_unsaved_configuration`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_group_name' in params:
            path_params['device_group_name'] = params['device_group_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/octet-stream'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/configuration/check/device-group/{device_group_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def check_network_group_unsaved_configuration(self, network_group_name, **kwargs):  # noqa: E501
        """Check if the unsaved configuration of the given network group is correct.  # noqa: E501

        Checks if the un-committed configuration of a network-group is correct. The un-committed changes are merged with the committed configuration and the complete configuration required for the supplied network-group is validated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_network_group_unsaved_configuration(network_group_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str network_group_name: Name of network group (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.check_network_group_unsaved_configuration_with_http_info(network_group_name, **kwargs)  # noqa: E501
        else:
            (data) = self.check_network_group_unsaved_configuration_with_http_info(network_group_name, **kwargs)  # noqa: E501
            return data

    def check_network_group_unsaved_configuration_with_http_info(self, network_group_name, **kwargs):  # noqa: E501
        """Check if the unsaved configuration of the given network group is correct.  # noqa: E501

        Checks if the un-committed configuration of a network-group is correct. The un-committed changes are merged with the committed configuration and the complete configuration required for the supplied network-group is validated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.check_network_group_unsaved_configuration_with_http_info(network_group_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str network_group_name: Name of network group (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['network_group_name', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method check_network_group_unsaved_configuration" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'network_group_name' is set
        if ('network_group_name' not in params or
                params['network_group_name'] is None):
            raise ValueError("Missing the required parameter `network_group_name` when calling `check_network_group_unsaved_configuration`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'network_group_name' in params:
            path_params['network_group_name'] = params['network_group_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/octet-stream'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/configuration/check/network-group/{network_group_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def commit_unsaved_configuration(self, **kwargs):  # noqa: E501
        """Commit unsaved configuration.  # noqa: E501

        Commit the configuration in configuration database. Services of all the affected groups are started or restarted. If there is an error in the configuration, changes would not be saved into the database. If there is some system error, changes would be saved into the database.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.commit_unsaved_configuration(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_iam_token: authentication header object
        :param bool sync: Boolean variable is set to false allow the commit to go asynchronously, default value is true which means commit will go synchronously
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.commit_unsaved_configuration_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.commit_unsaved_configuration_with_http_info(**kwargs)  # noqa: E501
            return data

    def commit_unsaved_configuration_with_http_info(self, **kwargs):  # noqa: E501
        """Commit unsaved configuration.  # noqa: E501

        Commit the configuration in configuration database. Services of all the affected groups are started or restarted. If there is an error in the configuration, changes would not be saved into the database. If there is some system error, changes would be saved into the database.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.commit_unsaved_configuration_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_iam_token: authentication header object
        :param bool sync: Boolean variable is set to false allow the commit to go asynchronously, default value is true which means commit will go synchronously
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_iam_token', 'sync']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method commit_unsaved_configuration" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'sync' in params:
            query_params.append(('sync', params['sync']))  # noqa: E501

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/octet-stream'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/configuration/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_healthbot_organizations_organizations(self, organizations, **kwargs):  # noqa: E501
        """Update or create multiple organizations.  # noqa: E501

        Create/Update multiple organizations. The new content for the existing organizations updates the existing content and the new organizations are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_healthbot_organizations_organizations(organizations, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OrganizationsSchema organizations: organizations body object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_healthbot_organizations_organizations_with_http_info(organizations, **kwargs)  # noqa: E501
        else:
            (data) = self.create_healthbot_organizations_organizations_with_http_info(organizations, **kwargs)  # noqa: E501
            return data

    def create_healthbot_organizations_organizations_with_http_info(self, organizations, **kwargs):  # noqa: E501
        """Update or create multiple organizations.  # noqa: E501

        Create/Update multiple organizations. The new content for the existing organizations updates the existing content and the new organizations are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_healthbot_organizations_organizations_with_http_info(organizations, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OrganizationsSchema organizations: organizations body object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['organizations', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_healthbot_organizations_organizations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'organizations' is set
        if ('organizations' not in params or
                params['organizations'] is None):
            raise ValueError("Missing the required parameter `organizations` when calling `create_healthbot_organizations_organizations`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'organizations' in params:
            body_params = params['organizations']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/organizations/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_healthbot_topic_resource_resource_by_id(self, topic_name, resource_name, resource, **kwargs):  # noqa: E501
        """Update or create a resource  # noqa: E501

        Create/Update a resource by `resource-name`. The `resource-name` specified in URL and the request body must match. If the resource already exists then, the existing resource's configuration will be updated with the new content  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_healthbot_topic_resource_resource_by_id(topic_name, resource_name, resource, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str topic_name: ID of topic-name (required)
        :param str resource_name: ID of resource-name (required)
        :param ResourceSchema resource: resourcebody object (required)
        :param str authorization: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_healthbot_topic_resource_resource_by_id_with_http_info(topic_name, resource_name, resource, **kwargs)  # noqa: E501
        else:
            (data) = self.create_healthbot_topic_resource_resource_by_id_with_http_info(topic_name, resource_name, resource, **kwargs)  # noqa: E501
            return data

    def create_healthbot_topic_resource_resource_by_id_with_http_info(self, topic_name, resource_name, resource, **kwargs):  # noqa: E501
        """Update or create a resource  # noqa: E501

        Create/Update a resource by `resource-name`. The `resource-name` specified in URL and the request body must match. If the resource already exists then, the existing resource's configuration will be updated with the new content  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_healthbot_topic_resource_resource_by_id_with_http_info(topic_name, resource_name, resource, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str topic_name: ID of topic-name (required)
        :param str resource_name: ID of resource-name (required)
        :param ResourceSchema resource: resourcebody object (required)
        :param str authorization: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['topic_name', 'resource_name', 'resource', 'authorization']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_healthbot_topic_resource_resource_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'topic_name' is set
        if ('topic_name' not in params or
                params['topic_name'] is None):
            raise ValueError("Missing the required parameter `topic_name` when calling `create_healthbot_topic_resource_resource_by_id`")  # noqa: E501
        # verify the required parameter 'resource_name' is set
        if ('resource_name' not in params or
                params['resource_name'] is None):
            raise ValueError("Missing the required parameter `resource_name` when calling `create_healthbot_topic_resource_resource_by_id`")  # noqa: E501
        # verify the required parameter 'resource' is set
        if ('resource' not in params or
                params['resource'] is None):
            raise ValueError("Missing the required parameter `resource` when calling `create_healthbot_topic_resource_resource_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'topic_name' in params:
            path_params['topic_name'] = params['topic_name']  # noqa: E501
        if 'resource_name' in params:
            path_params['resource_name'] = params['resource_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'authorization' in params:
            header_params['Authorization'] = params['authorization']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'resource' in params:
            body_params = params['resource']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/topic/{topic_name}/resource/{resource_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_device_device_by_id(self, device_id, device, **kwargs):  # noqa: E501
        """Update or create a device.  # noqa: E501

        Create/Update a device by `device-id`. The `device-id` specified in URL and the request body must match. If the device already exists then, old content will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_device_device_by_id(device_id, device, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: ID of device-id (required)
        :param DeviceSchema device: devicebody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_device_device_by_id_with_http_info(device_id, device, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_device_device_by_id_with_http_info(device_id, device, **kwargs)  # noqa: E501
            return data

    def create_iceberg_device_device_by_id_with_http_info(self, device_id, device, **kwargs):  # noqa: E501
        """Update or create a device.  # noqa: E501

        Create/Update a device by `device-id`. The `device-id` specified in URL and the request body must match. If the device already exists then, old content will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_device_device_by_id_with_http_info(device_id, device, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_id: ID of device-id (required)
        :param DeviceSchema device: devicebody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_id', 'device', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_device_device_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_id' is set
        if ('device_id' not in params or
                params['device_id'] is None):
            raise ValueError("Missing the required parameter `device_id` when calling `create_iceberg_device_device_by_id`")  # noqa: E501
        # verify the required parameter 'device' is set
        if ('device' not in params or
                params['device'] is None):
            raise ValueError("Missing the required parameter `device` when calling `create_iceberg_device_device_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_id' in params:
            path_params['device_id'] = params['device_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'device' in params:
            body_params = params['device']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/device/{device_id}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_device_group_device_group_by_id(self, device_group_name, device_group, **kwargs):  # noqa: E501
        """Update or create a device-group.  # noqa: E501

        Create/Update a device-group by `device-group-name`. The `device-group-name` specified in URL and the request body must match. If the device-group already exists then, old content will be updated with the new content  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_device_group_device_group_by_id(device_group_name, device_group, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_group_name: ID of device-group-name (required)
        :param DeviceGroupSchema device_group: device_groupbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_device_group_device_group_by_id_with_http_info(device_group_name, device_group, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_device_group_device_group_by_id_with_http_info(device_group_name, device_group, **kwargs)  # noqa: E501
            return data

    def create_iceberg_device_group_device_group_by_id_with_http_info(self, device_group_name, device_group, **kwargs):  # noqa: E501
        """Update or create a device-group.  # noqa: E501

        Create/Update a device-group by `device-group-name`. The `device-group-name` specified in URL and the request body must match. If the device-group already exists then, old content will be updated with the new content  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_device_group_device_group_by_id_with_http_info(device_group_name, device_group, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str device_group_name: ID of device-group-name (required)
        :param DeviceGroupSchema device_group: device_groupbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_group_name', 'device_group', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_device_group_device_group_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_group_name' is set
        if ('device_group_name' not in params or
                params['device_group_name'] is None):
            raise ValueError("Missing the required parameter `device_group_name` when calling `create_iceberg_device_group_device_group_by_id`")  # noqa: E501
        # verify the required parameter 'device_group' is set
        if ('device_group' not in params or
                params['device_group'] is None):
            raise ValueError("Missing the required parameter `device_group` when calling `create_iceberg_device_group_device_group_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'device_group_name' in params:
            path_params['device_group_name'] = params['device_group_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'device_group' in params:
            body_params = params['device_group']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/device-group/{device_group_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_device_groups_device_groups_by_id(self, device_groups, **kwargs):  # noqa: E501
        """Update or create multiple device-groups.  # noqa: E501

        Create/Update multiple device-groups. The new content for the existing device-groups updates the existing content and new device-groups are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_device_groups_device_groups_by_id(device_groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DeviceGroupsSchema device_groups: device-groupsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_device_groups_device_groups_by_id_with_http_info(device_groups, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_device_groups_device_groups_by_id_with_http_info(device_groups, **kwargs)  # noqa: E501
            return data

    def create_iceberg_device_groups_device_groups_by_id_with_http_info(self, device_groups, **kwargs):  # noqa: E501
        """Update or create multiple device-groups.  # noqa: E501

        Create/Update multiple device-groups. The new content for the existing device-groups updates the existing content and new device-groups are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_device_groups_device_groups_by_id_with_http_info(device_groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DeviceGroupsSchema device_groups: device-groupsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['device_groups', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_device_groups_device_groups_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'device_groups' is set
        if ('device_groups' not in params or
                params['device_groups'] is None):
            raise ValueError("Missing the required parameter `device_groups` when calling `create_iceberg_device_groups_device_groups_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'device_groups' in params:
            body_params = params['device_groups']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/device-groups/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_devices_devices_by_id(self, devices, **kwargs):  # noqa: E501
        """Update or create multiple devices.  # noqa: E501

        Create/Update multiple devices. The new content for the existing devices updates the existing content and the new devices are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_devices_devices_by_id(devices, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DevicesSchema devices: devicesbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_devices_devices_by_id_with_http_info(devices, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_devices_devices_by_id_with_http_info(devices, **kwargs)  # noqa: E501
            return data

    def create_iceberg_devices_devices_by_id_with_http_info(self, devices, **kwargs):  # noqa: E501
        """Update or create multiple devices.  # noqa: E501

        Create/Update multiple devices. The new content for the existing devices updates the existing content and the new devices are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_devices_devices_by_id_with_http_info(devices, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DevicesSchema devices: devicesbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['devices', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_devices_devices_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'devices' is set
        if ('devices' not in params or
                params['devices'] is None):
            raise ValueError("Missing the required parameter `devices` when calling `create_iceberg_devices_devices_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'devices' in params:
            body_params = params['devices']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/devices/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_network_group_network_group_by_id(self, network_group_name, network_group, **kwargs):  # noqa: E501
        """Update or create a network-group.  # noqa: E501

        Create/Update a network-group by `network-group-name`. The `network-group-name` parameter specified in URL and the request body must match. If the network-group already exists then, the existing network-group's configuration will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_network_group_network_group_by_id(network_group_name, network_group, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str network_group_name: ID of network-group-name (required)
        :param NetworkGroupSchema network_group: network_groupbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_network_group_network_group_by_id_with_http_info(network_group_name, network_group, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_network_group_network_group_by_id_with_http_info(network_group_name, network_group, **kwargs)  # noqa: E501
            return data

    def create_iceberg_network_group_network_group_by_id_with_http_info(self, network_group_name, network_group, **kwargs):  # noqa: E501
        """Update or create a network-group.  # noqa: E501

        Create/Update a network-group by `network-group-name`. The `network-group-name` parameter specified in URL and the request body must match. If the network-group already exists then, the existing network-group's configuration will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_network_group_network_group_by_id_with_http_info(network_group_name, network_group, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str network_group_name: ID of network-group-name (required)
        :param NetworkGroupSchema network_group: network_groupbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['network_group_name', 'network_group', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_network_group_network_group_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'network_group_name' is set
        if ('network_group_name' not in params or
                params['network_group_name'] is None):
            raise ValueError("Missing the required parameter `network_group_name` when calling `create_iceberg_network_group_network_group_by_id`")  # noqa: E501
        # verify the required parameter 'network_group' is set
        if ('network_group' not in params or
                params['network_group'] is None):
            raise ValueError("Missing the required parameter `network_group` when calling `create_iceberg_network_group_network_group_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'network_group_name' in params:
            path_params['network_group_name'] = params['network_group_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'network_group' in params:
            body_params = params['network_group']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/network-group/{network_group_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_network_groups_network_groups_by_id(self, network_groups, **kwargs):  # noqa: E501
        """Update or create multiple network-groups.  # noqa: E501

        Create/Update multiple network-groups. The new content for the existing network-groups updates the existing content and the new network-groups are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_network_groups_network_groups_by_id(network_groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NetworkGroupsSchema network_groups: network-groupsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_network_groups_network_groups_by_id_with_http_info(network_groups, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_network_groups_network_groups_by_id_with_http_info(network_groups, **kwargs)  # noqa: E501
            return data

    def create_iceberg_network_groups_network_groups_by_id_with_http_info(self, network_groups, **kwargs):  # noqa: E501
        """Update or create multiple network-groups.  # noqa: E501

        Create/Update multiple network-groups. The new content for the existing network-groups updates the existing content and the new network-groups are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_network_groups_network_groups_by_id_with_http_info(network_groups, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NetworkGroupsSchema network_groups: network-groupsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['network_groups', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_network_groups_network_groups_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'network_groups' is set
        if ('network_groups' not in params or
                params['network_groups'] is None):
            raise ValueError("Missing the required parameter `network_groups` when calling `create_iceberg_network_groups_network_groups_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'network_groups' in params:
            body_params = params['network_groups']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/network-groups/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_notification_notification_by_id(self, notification_name, notification, **kwargs):  # noqa: E501
        """Update or create a notification  # noqa: E501

        Create/Update a notification by `notification-name`. The `notification-name` specified in URL and the request body must match. If the notification already exists then, the existing notification's configuration will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_notification_notification_by_id(notification_name, notification, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str notification_name: ID of notification-name (required)
        :param NotificationSchema notification: notificationbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_notification_notification_by_id_with_http_info(notification_name, notification, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_notification_notification_by_id_with_http_info(notification_name, notification, **kwargs)  # noqa: E501
            return data

    def create_iceberg_notification_notification_by_id_with_http_info(self, notification_name, notification, **kwargs):  # noqa: E501
        """Update or create a notification  # noqa: E501

        Create/Update a notification by `notification-name`. The `notification-name` specified in URL and the request body must match. If the notification already exists then, the existing notification's configuration will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_notification_notification_by_id_with_http_info(notification_name, notification, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str notification_name: ID of notification-name (required)
        :param NotificationSchema notification: notificationbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['notification_name', 'notification', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_notification_notification_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'notification_name' is set
        if ('notification_name' not in params or
                params['notification_name'] is None):
            raise ValueError("Missing the required parameter `notification_name` when calling `create_iceberg_notification_notification_by_id`")  # noqa: E501
        # verify the required parameter 'notification' is set
        if ('notification' not in params or
                params['notification'] is None):
            raise ValueError("Missing the required parameter `notification` when calling `create_iceberg_notification_notification_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'notification_name' in params:
            path_params['notification_name'] = params['notification_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'notification' in params:
            body_params = params['notification']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/notification/{notification_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_notifications_notifications_by_id(self, notifications, **kwargs):  # noqa: E501
        """Update or create multiple notifications.  # noqa: E501

        Create/Update multiple notifications. The new content for the existing notifications updates the existing content and the new notifications are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_notifications_notifications_by_id(notifications, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NotificationsSchema notifications: notificationsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_notifications_notifications_by_id_with_http_info(notifications, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_notifications_notifications_by_id_with_http_info(notifications, **kwargs)  # noqa: E501
            return data

    def create_iceberg_notifications_notifications_by_id_with_http_info(self, notifications, **kwargs):  # noqa: E501
        """Update or create multiple notifications.  # noqa: E501

        Create/Update multiple notifications. The new content for the existing notifications updates the existing content and the new notifications are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_notifications_notifications_by_id_with_http_info(notifications, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NotificationsSchema notifications: notificationsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['notifications', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_notifications_notifications_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'notifications' is set
        if ('notifications' not in params or
                params['notifications'] is None):
            raise ValueError("Missing the required parameter `notifications` when calling `create_iceberg_notifications_notifications_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'notifications' in params:
            body_params = params['notifications']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/notifications/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_playbook_playbook_by_id(self, playbook_name, playbook, **kwargs):  # noqa: E501
        """Update or create a playbook.  # noqa: E501

        Create/Update a playbook by `playbook-name`. The `playbook-name` specified in URL and the request body must match. If the playbook already exists then, the existing playbook's configuration will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_playbook_playbook_by_id(playbook_name, playbook, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str playbook_name: ID of playbook-name (required)
        :param PlaybookSchema playbook: playbookbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_playbook_playbook_by_id_with_http_info(playbook_name, playbook, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_playbook_playbook_by_id_with_http_info(playbook_name, playbook, **kwargs)  # noqa: E501
            return data

    def create_iceberg_playbook_playbook_by_id_with_http_info(self, playbook_name, playbook, **kwargs):  # noqa: E501
        """Update or create a playbook.  # noqa: E501

        Create/Update a playbook by `playbook-name`. The `playbook-name` specified in URL and the request body must match. If the playbook already exists then, the existing playbook's configuration will be updated with the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_playbook_playbook_by_id_with_http_info(playbook_name, playbook, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str playbook_name: ID of playbook-name (required)
        :param PlaybookSchema playbook: playbookbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['playbook_name', 'playbook', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_playbook_playbook_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'playbook_name' is set
        if ('playbook_name' not in params or
                params['playbook_name'] is None):
            raise ValueError("Missing the required parameter `playbook_name` when calling `create_iceberg_playbook_playbook_by_id`")  # noqa: E501
        # verify the required parameter 'playbook' is set
        if ('playbook' not in params or
                params['playbook'] is None):
            raise ValueError("Missing the required parameter `playbook` when calling `create_iceberg_playbook_playbook_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'playbook_name' in params:
            path_params['playbook_name'] = params['playbook_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'playbook' in params:
            body_params = params['playbook']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/playbook/{playbook_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_playbooks_playbooks_by_id(self, playbooks, **kwargs):  # noqa: E501
        """Update or create multiple playbooks.  # noqa: E501

        Create/Update multiple playbooks. The new content for the existing playbooks updates the existing content and the new playbooks are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_playbooks_playbooks_by_id(playbooks, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PlaybooksSchema playbooks: playbooksbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_playbooks_playbooks_by_id_with_http_info(playbooks, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_playbooks_playbooks_by_id_with_http_info(playbooks, **kwargs)  # noqa: E501
            return data

    def create_iceberg_playbooks_playbooks_by_id_with_http_info(self, playbooks, **kwargs):  # noqa: E501
        """Update or create multiple playbooks.  # noqa: E501

        Create/Update multiple playbooks. The new content for the existing playbooks updates the existing content and the new playbooks are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_playbooks_playbooks_by_id_with_http_info(playbooks, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PlaybooksSchema playbooks: playbooksbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['playbooks', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_playbooks_playbooks_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'playbooks' is set
        if ('playbooks' not in params or
                params['playbooks'] is None):
            raise ValueError("Missing the required parameter `playbooks` when calling `create_iceberg_playbooks_playbooks_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'playbooks' in params:
            body_params = params['playbooks']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/playbooks/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_retention_policies_retention_policies_by_id(self, retention_policies, **kwargs):  # noqa: E501
        """Update or create multiple retention-policies.  # noqa: E501

        Create/Update multiple retention-policies. The new content for the existing retention-policies update the existing content and the new retention-policies are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_retention_policies_retention_policies_by_id(retention_policies, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RetentionPoliciesSchema retention_policies: retention-policiesbody object object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_retention_policies_retention_policies_by_id_with_http_info(retention_policies, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_retention_policies_retention_policies_by_id_with_http_info(retention_policies, **kwargs)  # noqa: E501
            return data

    def create_iceberg_retention_policies_retention_policies_by_id_with_http_info(self, retention_policies, **kwargs):  # noqa: E501
        """Update or create multiple retention-policies.  # noqa: E501

        Create/Update multiple retention-policies. The new content for the existing retention-policies update the existing content and the new retention-policies are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_retention_policies_retention_policies_by_id_with_http_info(retention_policies, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param RetentionPoliciesSchema retention_policies: retention-policiesbody object object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['retention_policies', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_retention_policies_retention_policies_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'retention_policies' is set
        if ('retention_policies' not in params or
                params['retention_policies'] is None):
            raise ValueError("Missing the required parameter `retention_policies` when calling `create_iceberg_retention_policies_retention_policies_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'retention_policies' in params:
            body_params = params['retention_policies']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/retention-policies/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_retention_policy_retention_policy_by_id(self, retention_policy_name, retention_policy, **kwargs):  # noqa: E501
        """Update or create a retention-policy.  # noqa: E501

        Create/Update a retention-policy by `retention-policy-name`. The `retention-policy-name` specified in URL and the request body must match. If the retention-policy exists then, the existing retention-policy's configuration will be updated by the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_retention_policy_retention_policy_by_id(retention_policy_name, retention_policy, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str retention_policy_name: ID of retention-policy-name (required)
        :param RetentionPolicySchema retention_policy: retention_policybody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_retention_policy_retention_policy_by_id_with_http_info(retention_policy_name, retention_policy, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_retention_policy_retention_policy_by_id_with_http_info(retention_policy_name, retention_policy, **kwargs)  # noqa: E501
            return data

    def create_iceberg_retention_policy_retention_policy_by_id_with_http_info(self, retention_policy_name, retention_policy, **kwargs):  # noqa: E501
        """Update or create a retention-policy.  # noqa: E501

        Create/Update a retention-policy by `retention-policy-name`. The `retention-policy-name` specified in URL and the request body must match. If the retention-policy exists then, the existing retention-policy's configuration will be updated by the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_retention_policy_retention_policy_by_id_with_http_info(retention_policy_name, retention_policy, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str retention_policy_name: ID of retention-policy-name (required)
        :param RetentionPolicySchema retention_policy: retention_policybody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['retention_policy_name', 'retention_policy', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_retention_policy_retention_policy_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'retention_policy_name' is set
        if ('retention_policy_name' not in params or
                params['retention_policy_name'] is None):
            raise ValueError("Missing the required parameter `retention_policy_name` when calling `create_iceberg_retention_policy_retention_policy_by_id`")  # noqa: E501
        # verify the required parameter 'retention_policy' is set
        if ('retention_policy' not in params or
                params['retention_policy'] is None):
            raise ValueError("Missing the required parameter `retention_policy` when calling `create_iceberg_retention_policy_retention_policy_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'retention_policy_name' in params:
            path_params['retention_policy_name'] = params['retention_policy_name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'retention_policy' in params:
            body_params = params['retention_policy']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/retention-policy/{retention_policy_name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_system_destination_by_id(self, name, destination, **kwargs):  # noqa: E501
        """Create destination by name  # noqa: E501

        Create/Update a destination by `name`. The `name` specified in URL and the request body must match. If the destination exists then, the existing destination's configuration will be updated by the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_system_destination_by_id(name, destination, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Name of destination (required)
        :param DestinationSchema destination: destinationsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_system_destination_by_id_with_http_info(name, destination, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_system_destination_by_id_with_http_info(name, destination, **kwargs)  # noqa: E501
            return data

    def create_iceberg_system_destination_by_id_with_http_info(self, name, destination, **kwargs):  # noqa: E501
        """Create destination by name  # noqa: E501

        Create/Update a destination by `name`. The `name` specified in URL and the request body must match. If the destination exists then, the existing destination's configuration will be updated by the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_system_destination_by_id_with_http_info(name, destination, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Name of destination (required)
        :param DestinationSchema destination: destinationsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'destination', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_system_destination_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `create_iceberg_system_destination_by_id`")  # noqa: E501
        # verify the required parameter 'destination' is set
        if ('destination' not in params or
                params['destination'] is None):
            raise ValueError("Missing the required parameter `destination` when calling `create_iceberg_system_destination_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'destination' in params:
            body_params = params['destination']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/system/report-generation/destination/{name}/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_system_destinations(self, destinations, **kwargs):  # noqa: E501
        """Create destinations by name  # noqa: E501

        Create/Update multiple destinations. The new content for the existing destinations updates the existing content and the new destinations are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_system_destinations(destinations, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DestinationsSchema destinations: destinationsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_system_destinations_with_http_info(destinations, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_system_destinations_with_http_info(destinations, **kwargs)  # noqa: E501
            return data

    def create_iceberg_system_destinations_with_http_info(self, destinations, **kwargs):  # noqa: E501
        """Create destinations by name  # noqa: E501

        Create/Update multiple destinations. The new content for the existing destinations updates the existing content and the new destinations are created.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_system_destinations_with_http_info(destinations, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param DestinationsSchema destinations: destinationsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['destinations', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_system_destinations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'destinations' is set
        if ('destinations' not in params or
                params['destinations'] is None):
            raise ValueError("Missing the required parameter `destinations` when calling `create_iceberg_system_destinations`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_iam_token' in params:
            header_params['x-iam-token'] = params['x_iam_token']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'destinations' in params:
            body_params = params['destinations']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/config/system/report-generation/destinations/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_iceberg_system_report_by_id(self, name, report, **kwargs):  # noqa: E501
        """Create report by name  # noqa: E501

        Create/Update a report by `name`. The `name` specified in URL and the request body must match. If the report exists then, the existing report's configuration will be updated by the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_system_report_by_id(name, report, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Name of report (required)
        :param ReportSchema report: reportsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_iceberg_system_report_by_id_with_http_info(name, report, **kwargs)  # noqa: E501
        else:
            (data) = self.create_iceberg_system_report_by_id_with_http_info(name, report, **kwargs)  # noqa: E501
            return data

    def create_iceberg_system_report_by_id_with_http_info(self, name, report, **kwargs):  # noqa: E501
        """Create report by name  # noqa: E501

        Create/Update a report by `name`. The `name` specified in URL and the request body must match. If the report exists then, the existing report's configuration will be updated by the new content.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_iceberg_system_report_by_id_with_http_info(name, report, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: Name of report (required)
        :param ReportSchema report: reportsbody object (required)
        :param str x_iam_token: authentication header object
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'report', 'x_iam_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_iceberg_system_report_by_id" % key
                )
            params[key] = val
        del params['kwargs']
[...]
